<h2> Issued Invoices </h2>

<table class="table">
  <thead>
    <tr>
      <th>N</th>
      <th>Invoice Number</th>
      <th>Issued to</th>
      <th>Issued on</th>
      <th>Control Panel</th>
    </tr>
  </thead>
  <tbody>
    <%= for invoice <- Enum.sort(@invoices, &(&1.id <= &2.id)) do %>
      <tr>
        <td><%= invoice.id %></td>
        <td><%= invoice.document_number %></td>
        <td><%= invoice.receiver_details.name %></td>
        <td><%= invoice.issuing_date %></td>
        <td class="text-left">
          <span><%= link "Details", to:
            invoice_path(@conn, :show, invoice.id), 
            class: "btn btn-default btn-xs" %></span>
          <span><%= link "Edit", to:
            invoice_path(@conn, :edit, invoice.id), 
            class: "btn btn-default btn-xs" %></span>
          <span><%= link "Delete", to:
            invoice_path(@conn, :delete, invoice.id), 
            class: "btn btn-default btn-xs" %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  

