<h2> Invoice Preview </h2>
<table class="table">
  <thead>
    <tr>
      <th>ПОЛУЧАТЕЛ</th>
      <th>ДОСТАВЧИК</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td > 
        <%= @invoice.receiver_details.name %><br>
        <%= @invoice.receiver_details.address %><br>
        ЕИК <%= @invoice.receiver_details.uid %>
     </td>
     <td > 
       <%= @invoice.issuer_company.name %><br>
       <%= @invoice.issuer_company.address %><br>
       ЕИК <%= @invoice.issuer_company.uid %> <br>
       ЗДДС Номер: <%= @invoice.issuer_company.vat_uid %><br>
     </td>
    </tr>
    <tr>
      <td><br><br> 
        КОПИЕ 
      </td>
      <td align="right"> ФАКТУРА <br> 
        номер: <%= @invoice.document_number %> <br>
        дата на издаване: <%= @invoice.issuing_date %> <br>
        дата на данъчно събитие: <%= @invoice.tax_event_date %>
      </td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Наименование на продукта</th>
      <th>Количество</th>
      <th>Ед. цена</th>
      <th>Стойност</th>
      <th>Валута</th>
    </tr>
  </thead>
  <tbody>
    <%= for item <- Enum.sort(@invoice.items, &(&1.id <= &2.id))  do %>
    <tr>
      <td><%= item.id %></td>
      <td><%= item.description %></td>
      <td><%= item.quantity %></td>
      <td><%= item.price %></td>
      <td><%= multiply(item.price, item.quantity) %></td>
      <td>лв.</td>
    <% end %>
    </tr>
  </tbody>
</table>

<table class="table">
  <tbody>
    <tr>
      <td>
        <div>
          <table>
            <thead>
              <tr>
                <th>Банкови детайли на доставчика</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Банка:</td>
                <td><%= @bank_details.bank_name %></td>
              </tr>
              <tr>
                <td>IBAN:</td>
                <td><%= @bank_details.iban %></td>
              </tr>
              <tr>
                <td>BIC:</td>
                <td><%= @bank_details.bic %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
      <td>
        <div>
          <table>
            <tbody>
              <tr>
                <td>Сума по фактура:</td>
                <td>
                  <%= 
                    calculate_invoice_amount(
                    @invoice.items) 
                  %>
                  лв.
                </td>
              </tr>
              <tr>
                <td>Данъчна основа:</td>
                <td>
                  <%=
                    invoice_amount = 
                    calculate_invoice_amount(
                    @invoice.items)
                  %>
                лв.
                </td>
              </tr>
              <tr>
                <td>Процен ДДС:</td>
                <td><%= @invoice.vat_percentage %></td>
              </tr>
              <tr>
                <td>Начислен ДДС:</td>
                <td>
                  <%=
                    calculated_vat = calculate_vat(
                    @invoice.items, @invoice.vat_percentage)
                  %>
                  лв.
                </td>
              </tr>
              <tr>
                <td>Всичко:</td>
                <td>
                  <%=
                    Decimal.add(invoice_amount, calculated_vat)
                  %>
                  лв.
              </tr>
            </tbody>
          </table>
        </div>
    </tr>
  </tbody>
</table>

<table class="table">
  <tbody>
    <tr>
      <td>Словом:</td>
    </tr>
    <tr>
      <td>Основание за неначисляване на ДДС:</td>
    </tr>
    <tr>
      <td>Метод за плащане:</td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <td>Получател: <%= @invoice.receiver_name %></td>
      <td align="right">Съставил: <%= @invoice.issuer_name %></td>
    </tr>
  </thead>
</table>

<table class="table">
  <thead>
    <tr>
      <td>Подпис ....................</td>
      <td align="right">Подпис ....................</td>
    </tr>
  </thead>
</table>

<table class="table">
  <thead>
    <tr>
      <td>Забележки: <%= @invoice.notes %></td>
    </tr>
  </thead>
</table>
